<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
      <title>Portfolio</title>
    </meta>
    <%= stylesheet_link_tag "all","global", "jcarousel" ,"uscrollbar", "/assets/fancybox/jquery.fancybox-1.3.1.css", :media => "all" %>
    <%= javascript_include_tag "application", "fancybox/jquery-1.4.2.min.js","fancybox/jquery.mousewheel-3.0.2.pack.js", "fancybox/jquery.fancybox-1.3.1.js", "jquery.jcarousel.pack.js", "jquery.uscrollbar.js" %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.sample').uscrollbar();
      });
    </script>
  </head>
  <body class="home">
    <!-- wrapper -->
    <div id="wrapper">
      <div class="w1">
        <div id="portfolia_body">
          <!-- header -->
          <header id="header">
            <div class="portfolia_header-holder">
              <!-- bar -->
              <div class="bar">
                <!-- logo -->
                <h1 class="logo vcard"><a href="home.html" class="fn org url"></a></h1>
                <!-- social networks -->
                <ul class="social-networks">
                  <li><%=  link_to image_tag("/assets/homeblack.png"), '/', :class=>"home1" %></li>
                  <li><%=  link_to image_tag("/assets/portfolioorange.png"), '/portfolio' %></li>
                  <li><%=  link_to image_tag("/assets/contactblack.png"), '/contact', :class=>"contact"  %></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="main-holder" style="width: 969px; padding: 17px 0 0;">
            <div id="portfolia_screen">
              <ul>
                <li class="p1 active">
                  <div id="left-screen"><a href="/assets/Screen images/SQbox.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/SQbox.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Smart Quotez</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p2">
                  <div id="left-screen"><a href="/assets/Screen images/MDIHbox.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/MDIHbox.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">My Date Is Here</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p3">
                  <div id="left-screen"><a href="/assets/Screen images/MDIH2box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/MDIH2box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">My Date Is Here</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p4">
                  <div id="left-screen"><a href="/assets/Screen images/Timeraven box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/Timeraven box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Time Raven</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p5">
                  <div id="left-screen"><a href="/assets/Screen images/edupost box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/edupost box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Edu Post</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p6">
                  <div id="left-screen"><a href="/assets/Screen images/freedomsoft box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/freedomsoft box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">FreedomSoft</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p7">
                  <div id="left-screen"><a href="/assets/Screen images/nelbee box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/nelbee box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Nelbee</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p8">
                  <div id="left-screen"><a href="/assets/Screen images/sortbox box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/sortbox box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Sort Box</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p9">
                  <div id="left-screen"><a href="/assets/Screen images/wellpoint box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/wellpoint box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Wellpoint</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p10">
                  <div id="left-screen"><a href="/assets/Screen images/Homecca box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/Homecca box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Homecca.com</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p11">
                  <div id="left-screen"><a href="/assets/Screen images/kirpeep box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/kirpeep box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Kirpeep</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p12">
                  <div id="left-screen"><a href="/assets/Screen images/lbt box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/lbt box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Luxury Boy Toy</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
                <li class="p13">
                  <div id="left-screen"><a href="/assets/Screen images/dinemedia box.png" class="portfolio_IMageLink"> <img src="/assets/Screen images/dinemedia box.png"  width="444" height="331"/></a>
                  </div>
                  <div id="right-screen">
                    <p class="clint">Dine Media</p>
                    <div class="sample">
                      <p class="desc">Project Description:</p> <p>Ehaeath pro is a SAAS based helthcare application which is mainly used by hospitals, clinics and individual practitioners around the globe. Ehealth Pro Clinic is the clinic module of this SAAS application. The product is carefully thought and automated based on process and compliances used within the clinic for efficient execution of tasks and patient/employee/hospital management. </p>
                      <p class="desc">Features:</p>
                      <ul>
                        <li> <span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL </span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                        <li><span>Ruby on Rails, JS/Jquery/AJAX, My SQL</span>
                        </li>
                      </ul>

                      <p class="desc">Technologies used:</p> <p> Ruby on Rails, JS/Jquery/AJAX, My SQL </p>
                      <p class="desc">Deployment:</p>   <p>This is deployed on high availability and secured cloud servers and technologically advanced than its competitors in market. </p>
                      <p class="desc">Duration of the project:</p><p> 8 months</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-holder" style="width: 1123px; padding: 17px 0 0;">
            <div id="portfolia_lower">
              <div id="our_work">
                <div id="slideshow-carousel">
                  <ul id="carousel" class="jcarousel-skin-tango">
                    <li><a href="#" rel="p1"><img src="/assets/middle boxes/SQ.png" alt="SmartQuotez" title="SmartQuotez" width="208" height="153" /></a></li>
                    <li><a href="#" rel="p2"><img src="/assets/middle boxes/Mdih.png" alt="Mydateishere" title="Mydateishere" width="208" height="153" /></a></li>
                    <li><a href="#" rel="p3"><img src="/assets/middle boxes/Mdih2.png" alt="MDIH" title="MDIH" width="208" height="153" /></a></li>
                    <li><a href="#" rel="p10"><img src="/assets/middle boxes/homecca.png" alt="Homecca" title="Homecca" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p12"><img src="/assets/middle boxes/lbt.png" alt="Lbt" title="Lbt" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p7"><img src="/assets/middle boxes/nelbee.png" alt="Nelbee" title="Nelbee" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p13"><img src="/assets/middle boxes/dine media.png" alt="Dine-media" title="Dine-media" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p5"><img src="/assets/middle boxes/edupost.png" alt="Edupost" title="Edupost" width="208" height="153" /></a></li>
                    <li><a href="#" rel="p6"><img src="/assets/middle boxes/freedom soft.png" alt="Freedom soft" title="Freedom soft" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p8"><img src="/assets/middle boxes/sort box.png" alt="Sort box" title="Sort box" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p9"><img src="/assets/middle boxes/wellpoint.png" alt="Wellpoint" title="Wellpoint" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p11"><img src="/assets/middle boxes/kirpeep.png" alt="Kirpeep" title="Kirpeep" width="208" height="153"  /></a></li>
                    <li><a href="#" rel="p4"><img src="/assets/middle boxes/time raven.png" alt="Timeraven" title="Timeraven" width="208" height="153" /></a></li>
                </ul>
                </div>
              </div>
              <div id="what_our_clients">
                <div id="left_side">
                  <table width="100%" cellpadding="5px;" cellspacing="8px;" style=" padding-left: 2px;    padding-top: 15px;    text-align: center;">
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                      <td style="color: black;
                          font-family: pristina;
                          font-size: 30px;
                          font-style: normal;
                          letter-spacing: 1px;">Prashant Shah</td>
                    </tr>
                    <tr>
                      <td style=" color: black;
                          font-family: Helvetica;
                          font-size: 14px;
                          letter-spacing: 1px;"> Co-Founder: <span style="font-size: 14px;">SMART QUOTEZ</span></td>
                    </tr>
                    <tr>
                      <td>  <ul id="star">
                          <li><img src="/assets/star icon.png"/></li>
                          <li><img src="/assets/star icon.png"/></li>
                          <li><img src="/assets/star icon.png"/></li>
                          <li><img src="/assets/star icon.png"/></li>
                          <li><img src="/assets/star icon.png"/></li>
                        </ul> </td>
                    </tr>
                  </table>
                </div>
                <div id="right_side">
                  <span class="bqstart"><img src="/assets/portfolio/colon.png"/></span>
                  <span class="testimonialTextSpan">Dine Medis and its team produced stellar results for me, on budget, on time and were very easy to work with in spite of my being across the globe..</span>
                  <span class="bqend"><img src="/assets/portfolio/colon1.png"/></span>
                </div>
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 55px;">
              <%= link_to image_tag("/assets/portfolio/request a quote button.png"), "/contact" %>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer id="footer">
        <div class="footer-holder">
          <div class="footer-frame">
            <div class="col-1">
              <p>@ Copyright Dine-Media All Rights Reserved.</p>
            </div>
            <div class="col-2">
              <ul class="footer-links">
                <li><a href="/home"> Home </a></li>
                <li>|</li>
                <li><a href="/portfolio"> Portfolio </a></li>
                <li>|</li>
                <li><a href="#"> Services </a></li>
                <li>|</li>
                <li><a href="/contact"> Contact Us </a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {

        //jCarousel Plugin
        $('#carousel').jcarousel({
          vertical: false,
          scroll: 5,
          auto: 0,
          wrap: 'last',
          initCallback: mycarousel_initCallback

        });
        //Combine jCarousel with Image Display
        $('div#slideshow-carousel li a').hover(
      ).click(function () {
          $('span.arrow').remove();
          $('div#portfolia_screen li').removeClass('active');
          $('div#portfolia_screen li.' + $(this).attr('rel')).addClass('active').fadeIn("slow");

          return false;
        });
      });
      //Carousel Tweaking
      function mycarousel_initCallback(carousel) {
        // Pause autoscrolling if the user moves with the cursor over the clip.
        carousel.clip.hover(function() {
          carousel.stopAuto();
        }, function() {
          carousel.startAuto();
        });
      }

      jQuery("a.portfolio_IMageLink").fancybox({
        'titleShow'		: false,
        'transitionIn'	: 'elastic',
        'transitionOut'	: 'elastic'
      });
    </script>
  </body>
</html>